parameters:
- name: script
  type: object
- name: workingDirectory
  type: string
  default: $(Build.SourcesDirectory)
- name: failOnStderr
  type: boolean
  default: false
- name: bashEnvValue
  type: string
  default: ''

steps:
  - task: Bash@3
    displayName: 'Run Bash Script'
    inputs:
      targetType: 'inline'
      script: ${{ parameters.script }}
      workingDirectory: ${{ parameters.workingDirectory }}
      failOnStderr: ${{ parameters.failOnStderr }}
      bashEnvValue: ${{ parameters.bashEnvValue }}
